/* ScrollToTopButton.css */

.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: rgb(247, 212, 13);
  fill: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.scroll-to-top-button:hover {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .scroll-to-top-button {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .scroll-to-top-button {
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
  }
}
