.event_container {
  padding: 40px 10px;
  background-color: #f9f9f9;
}

.title_eventStats {
  font-weight: bold;
  font-size: 28px;
}

.text_eventStats {
  margin: 20px 0;
}

.button_eventStats {
  background-color: #ededed;
  padding: 20px;
  display: block;
  width: fit-content;
  transition: 0.4s;
  font-weight: bold;

  border-bottom: 2px solid black;
}

.button_eventStats:hover {
  background-color: #000000;
  color: #ededed;
}

.number_container {
}
